html, body { height: 100%; padding: 0; margin: 0; }

body{
	background-image: url('../images/wireless-compressor.jpg');
    -moz-background-size: cover;
    background-size: cover;
    /*-moz-background-position: center center;
	background-position: center center;*/
    background-repeat: no-repeat;

}

.overlay{
	z-index: 1;
    height: 100%;
    width: 100%;
    position: fixed;
    overflow: auto;
    top: 0px;
    left: 0px;
    background: rgba(8, 33, 43, 0.95); /*can be anything, of course*/
}

.header{ 
	left: 50%;
    top: 34%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    z-index: 2;
    position: absolute;
    color: white;
    font-family: Montserrat;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    width: 500px;
}

.description{
	left: 50%;
    top: 34%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    z-index: 2;
    position: absolute;
    color: white;
    font-family: Montserrat;
    font-size: 16px;
    text-align: center;
    margin-top: 24px;
    letter-spacing: 7.2px;
    margin-left: 3px;
    width: 500px;
}

#devices{
	position: absolute;
	z-index: 2;
	left: 50%;
    top: 34%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    margin-top: 135px;
    width: 435px;
}

.icons{
	background-color: rgba(0, 0, 0, .2);
	height: 100px;
	width: 100px;
	padding: 15px 20px;
	margin-right: 5px;
}

.icons:hover{
	cursor: hand;
}

.icons:hover path{
	fill: #efc23c;
	transition: .4s;	
	stroke: #efc23c;
}

.icons:hover #weirdSVG{
	transition: .4s;	
	stroke: #efc23c;
	fill: none;
}

.label{
	color: white;
	font-family: Montserrat;
	text-align: center;
	font-size: 9px;
	letter-spacing: 2px;
	background-color: rgba(0, 0, 0, 0.2);
	padding: 4.5px 0px;
	margin-top: 3px;
	margin-right: 5px;
}

#l1, #l2, #l3{
	opacity: 0;
	transition: .4s;	
	
}

.container{
	height:150px;
	float:left;
}

#single_image:hover + #l1{
    opacity: 1;
}

#single_image:hover + #l2{
    opacity: 1;
}

#single_image:hover + #l3{
    opacity: 1;
}